.body{
	background-color: red;
	text-align: center;
}

div.container{
	text-align: center;
}

.header{
	text-align: center;
}

.main{
	text-align: center;
}

h3.content{
text-align: center;
}

#tabela_estoque{
	text-align: center;
	
}
